NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://monibuk.com

KIS_APP_KEY=
KIS_APP_SECRET=
KIS_BASE_URL=https://openapi.koreainvestment.com:9443

FSC_STOCK_SERVICE_KEY=
FSC_STOCK_BASE_URL=https://apis.data.go.kr/1160100/service/GetStockSecuritiesInfoService
FSC_SECURITIES_PRODUCT_SERVICE_KEY=
FSC_SECURITIES_PRODUCT_BASE_URL=https://apis.data.go.kr/1160100/service/GetSecuritiesProductInfoService
