@use "../app/color_tokens.scss";
@use "../components/common/header";
@use "../components/common/footer";
@use "../components/common/modal";
@use "../components/expense/expense-form";
@use "../components/expense/expense-list";
@use "../components/calendar/calendar-view";
@use "../components/chart/expense-pie-chart";
@use "../styles/typography";
@use "../styles/input";
@use "../styles/button";
@use "./page";
@use "./analysis/analysis";
@use "./auth/auth";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body {
  min-height: 100%;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
}

*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

button:active {
  background: none;
}

input,
select,
textarea,
button {
  font: inherit;
}

ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

canvas,
img,
picture,
svg,
video {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-main {
  flex: 1;
}