.app-header {
  min-height: 52px;
  &--inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
    min-height: 52px;
    background: var(--surface-ultra-low);
    border-bottom: 1px solid var(--outline-low);
  }
  &__brand {
    display: inline-flex;
    align-items: center;
  }
 
}
