.app-header {
  
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
    min-height: 52px;
    background: var(--surface-ultra-low);
    border-bottom: 1px solid var(--outline-low);
  }
  
}